* {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,ul,li,a,p{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Epilogue', sans-serif;

    margin: 0;
    padding: 0;
}
.form-area {
    margin-top: 200px;
}

.form-area .head-form h3 {
    color: #000;
    font-family: Caveat;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
}

.form-area .head-form h2 {
    color: black;
    font-size: 45px;
    font-weight: 600;
    line-height: 1.3em;
}

.form-area .head-form p {
    font-size: 14px;

}

.form-area .head-form .about-detail {
    padding-top: 50px;
}

.form-area .head-form .clients {
    display: inline-block;
    padding: 20px;
}

.form-area .head-form .clients p {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.form-area .head-form .btn1 .btn1-ic {
    font-size: 16px;
    margin-right: 20px;
    background: #08cccc;
    padding: 7px 15px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
}

.form-area .head-form .btn1 .btn2-ic {
    color: #a9a6a6;
    font-size: 14px;
}

.form-area .head-form .btn1 .call-ic {
    font-size: 14px;
    padding: 10px;
    background: #fff;
    box-shadow: 0px 0px 5px #c1baba;
    border-radius: 15px;
    color: #a9a6a6;
    font-size: 14px;
}

.form-area .head-form .about-detail {
    padding-top: 50px;
}

.form-area .experince-box {
    display: flex;
    justify-content: center;
}


.form-area .form-box h2 {
    color: #00182C;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
}

.form-area input {
    border: none;
    color: #706f6fed;
    background: whitesmoke;
    border-radius: 2px;
    border: 1px solid #d1d1d1;
    padding: 15px 113px 15px 15px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.form-area .form-box h5 {
    font-size: 14px;
    margin-top: 20px;
}

.form-area .form-box .customer-detail {
    text-align: start;
}

.form-area .form-box {
    border-radius: 8px;
    background: #FFF;
    padding-bottom: 30px;
}

.form-area #message-box {
    padding-bottom: 200px;
}
.form-area  .input-subject{
   padding-right: 450px !important;
}
.form-area  .b-round {
    display: inline-block;
    border: 1px solid black;
    border-radius: 30px;
    margin-bottom: 20px;
}
.form-area .benefit-title {
    color: black;
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    padding: 10px 30px;
    letter-spacing: 1px;
    font-family: 'Sora', sans-serif;
}
.form-area .paragraph-area{
    margin-top: 20px;
}
.form-area #name-input{
margin-right: 30px;
}
.map-area iframe {
    width: 100%;
    height: 600px;
    margin-top: 80px;
    /* filter: grayscale(100%) */
}
@media (max-width:1200px){
    .form-area  .input-subject {
        padding-right: 270px !important;
    }
    .form-area .form-box .customer-detail {
        text-align: center;
    }
    .form-area #name-input {
        margin-right: 0px;
    }
}
@media (max-width:992px){
    .form-area  .input-subject {
        padding-right: 115px !important;
    }
    .form-area {
        margin-top: 100px;
    }
}
@media (max-width:768px){
    .customer-detail {
        margin-top: 50px;
    }
}
@media (max-width:576px){
    .form-area  .input-subject {
        padding-right: 100px !important;
    }
    .form-area input {
        padding: 15px 100px 15px 15px;
    }
    .form-area .head-form h2 {
        font-size: 30px;
    }
}