body {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;

}

p {
    color: #666;
}

.footer-area {
    margin-top: 100px;
}

.footer-area .footer-heading {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 20px;
}

.footer-area .footer-heading h1 {
    font-size: 80px;
    color: black;
    display: inline-block;
    margin-bottom: 0;
}

.footer-area .fa-arrow-right-footer {
    font-size: 80px;
    color: black;
    display: inline-block;
}

.footer-area .footer-heading i.fa-solid.fa-arrow-right {
    color: #a1a1a1;
    font-size: 60px;
    margin-left: 10px;
}

.footer-area .footer-box h4 {
    font-size: 20px;
    color: black;
    margin-bottom: 30px;

}

.footer-area .footer-box h2 {
    font-size: 20px;
    color: black;
}

.footer-area .footer-box p {
    margin-bottom: 20px;
}

.footer-area .footer-box .input-footer {
    margin-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 0;

}

.footer-area .footer-box {
    margin-top: 80px;
}

.footer-area .footer-box .input-footer {
    border: none;
    background: whitesmoke;
    border-bottom: 1px solid lightgrey;
}

.footer-area .footer-box i.fa-solid.fa-arrow-right {
    color: black;
}

.footer-last-area {
    border-top: 1px solid lightgrey;
}

.footer-last-area .footer-logo-box {
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-last-area .footer-logo-box h4 {
    font-size: 30px;
    color: black;
    font-family: 'Faster One';
    margin-bottom: 0;
    padding: 30px;
}

.footer-last-area .footer-logo-box p {
    margin-bottom: 0;
    padding-top: 30px;
}

@media(max-width:992px) {
    .footer-area .footer-heading h1 {
        font-size: 50px;
    }

    .footer-area .footer-heading i.fa-solid.fa-arrow-right {
        font-size: 30px;
    }

    .footer-area .footer-box {
        margin-top: 40px;
        text-align: center;
    }
    .footer-area .footer-box h2 {
        font-size: 14px;
    }
}

@media (max-width:576px) {

    .footer-area .footer-heading h1 {
        font-size: 30px;
    }

    .footer-area .footer-heading i.fa-solid.fa-arrow-right {
        font-size: 21px;
    }

    .footer-area .footer-box .input-footer {
        margin-bottom: 30px;
    }
}