@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
.navbar-area #logo{
    font-family: 'Faster One';
    font-size: 25px;
}
.navbar-area .me-auto.navbar-nav {
    display: flex;
    justify-content: end !important;
    margin-right: 0px !important;
}
.navbar-area .navbar-expand-lg .navbar-collapse {
    justify-content: end;
}
.navbar-area {
    box-shadow: -1px 1px 5px lightgray;
    padding: 8px 0px;
    position: fixed;
    width: 100%;
    background: white;
    z-index: 2;
    top: 0;
}
.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}
#link-url{
    padding: 20px ;
    text-decoration: none;
    color: #484747;

}
/* #link-url:hover{
    background-color: rgb(183, 183, 183);
} */
