* {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,ul,li,a,p{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Epilogue', sans-serif;
    margin: 0;
    padding: 0;
}
.service-area{
    overflow: hidden;
}

.backfix-area {
    background-image: url(/public//images/fixed-1.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backfix-area h1{
        color: #aaaaaa;
        font-size: 70px;
        font-weight: 600;
        line-height: 1.3em;
}

.backfix-area p{
    color: #aaaaaa;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.8em;
    letter-spacing: 2px;
}
@media (max-width:768px){
    .backfix-area h1 {
        font-size: 40px;
    }   .backfix-area{
        width: 100vw;
        height: 80vh;
    }
}
@media (max-width:576px){
    .backfix-area{
        width: 100vw;
        height: 60vh;
    }
}